.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .headerSlogan {
      position: absolute;
      top: 63%;
      font-weight: 900;
      font-size: 5rem;
      letter-spacing: -6px;
      color: #263238de;
  }
}