.desc-info {
  padding: 1.5rem;

  .desc-info-price {
    font-size: 2rem;

    &::before {
      content: "$";
    }
  }

  .desc-info-stock {

    font-size: 1.2rem;
    color: gray;
  }

  .desc-info-stock, .desc-info-price, .desc-info-description {
    margin-bottom: 1.1rem;
  }
}

.desc-img {
  width: auto;
}

@media screen and (min-width: 960px) {
  .desc-info {
    padding: 2rem;
  }
  
  .desc-img {
    width: calc(20rem + 10vw);
    max-width: 500px;
  }
}