.cart-widget {
  position: relative;
  ion-icon {
    font-size: 1.7rem;
    color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    position: absolute;
    padding: 2px 7px;
    bottom: -13px;
    left: -8px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}