.navBigContainer {
	min-height: calc(15vh - 1px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgb(218, 218, 218);

	.navContainer {
		position: relative;
		min-height: calc(15vh - 1px);
		width: 80vw;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.navLogo {
			min-height: calc(15vh - 1px);
			display: flex;
			align-items: center;

			a {
				display: flex;

				font-size: 3rem;
				font-weight: 900;
				font-style: italic;
				letter-spacing: -5px;
				text-decoration: none;
				color: inherit;

				img {
					width: 4rem;
				}
			}
		}

		.nc-menu-mobile {
			display: flex;
			gap: 1rem;

			cursor: pointer;

			.ncmm-icon {
				display: flex;
				align-items: center;
				justify-content: center;

				ion-icon {
					font-size: 2rem;
				}
			}

			.ncmm-list {
				height: 80vh;
				width: 100vw;
				position: fixed;
				top: 0;
				left: -20vw;
				right: -20vw;
				margin: 0 auto;
				padding: 2rem;

				flex-direction: column;

				background-color: rgb(30, 30, 30);
				color: white;

				.ncmml-topbar {
					margin-bottom: 5rem;

					display: flex;
					justify-content: flex-end;
					align-items: center;

					img {
						width: 3.5rem;
						position: absolute;
						left: 0;
						right: 0;
						margin: 0 auto;

						filter: invert(1);
					}

					button {
						padding: 0.3rem 0.3rem;

						display: flex;
						align-items: center;
						justify-content: center;

						border: 1px solid rgb(160, 160, 160);
						border-radius: 5px;

						outline: none;
						background-color: inherit;
						color: inherit;

						ion-icon {
							font-size: 1rem;
						}
					}
				}

				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;

					list-style-type: none;

					li {
						margin-bottom: 1rem;
						padding: 1rem 0;
						width: 100%;
						border-bottom: 1px solid gray;

						display: flex;
						align-items: center;
						justify-content: center;

						a {
							color: inherit;
							text-decoration: none;
							text-transform: capitalize;
						}

						.active {
							font-weight: bold;
						}
					}
				}
			}

			ion-icon[name=bag-outline] {
				display: flex;
				align-items: center;
				justify-content: center;

				font-size: 1.5rem;
			}
		}

		.nc-menu-desktop {
			position: absolute;
			width: fit-content;
			left: 0;
			right: 0;
			margin: 0 auto;

			display: none;
			align-items: center;
			justify-content: flex-end;

			ul {
				list-style-type: none;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 2rem;

				li {
					font-weight: 500;
					text-transform: capitalize;

					a {
						text-decoration: none;
						color: rgb(90, 90, 90);
					}

					.active {
						transition: color 0.5s;
						color: black;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.navBigContainer {
		.navContainer {
			.nc-menu-mobile {
				display: none;
			}

			.nc-menu-desktop {
				display: block;
			}	
		}
	}
}