@use "../../scss/mixins.scss" as mixin;

.il-container__item {
  margin-top: 2rem;

  @include mixin.flex-center($justify-content: flex-start, $align-items: initial);
  flex-direction: column;

  .il-container__item-c {
    @include mixin.flex-center($justify-content: space-between);
    flex-direction: column;

    .il-container__item-c-input * {
      height: 3rem;
      width: 3rem;
      
      @include mixin.flex-center;
      flex-grow: 1;
    }

    .il-container__item-c-input {
      width: 100%;
      border: 1px solid gray;

      @include mixin.flex-center($justify-content: space-between);

      background-color: white;

      .il-c__i-c-input-more, .il-c__i-c-input-less {
        background-color: rgb(243, 243, 243);
        color: rgb(49, 49, 49);
        font-size: 1.2rem;

        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: rgb(161, 161, 161);
          color: white;
        }
      }

      button[disabled] {
        background-color: white;
        color: gray;
        cursor: not-allowed;
        
        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: inherit;
          color: gray;
        }
      }

      .il-c__i-c-input-count {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
      }
      button {
        border: none;

        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  .il-container__item-button {
    padding: 1rem;
    border: 1px solid gray;

    background-color: rgb(26, 108, 231);
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;

    transition: background-color 0.5s;

    &:hover {
      background-color: rgb(12, 52, 112);
    }

    @media screen and (min-width: 768px) {
      padding: 0 3rem;
    }
  }

  .il-container__item-button[disabled] {
    background-color: rgb(63, 63, 63);
    cursor: default;
  }
}

@media screen and (min-width: 768px) {
  .il-container__item {
    flex-direction: row;
  }
}