.il-container__item {
  margin-top: 2rem;

  display: flex;
  justify-content: flex-start;

  .il-container__item-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .il-container__item-c-input * {
      padding: 1rem;
    }
    .il-container__item-c-input {
      border: 1px solid gray;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: white;

      .il-c__i-c-input-count {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
      }
      button {
        border: none;

        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  .il-container__item-button {
    padding: 0 1rem;
    border: none;

    background-color: rgb(26, 108, 231);
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;

    transition: background-color 0.5s;

    &:hover {
      background-color: rgb(12, 52, 112);
    }
  }
}