.il-container__item {
  margin-top: 2rem;

  display: flex;
  justify-content: flex-start;

  .il-container__item-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .il-container__item-c-input * {
      height: 3rem;
      width: 3rem;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .il-container__item-c-input {
      border: 1px solid gray;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: white;

      .il-c__i-c-input-more, .il-c__i-c-input-less {
        background-color: rgb(243, 243, 243);
        color: rgb(49, 49, 49);
        font-size: 1.2rem;

        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: rgb(161, 161, 161);
          color: white;
        }
      }

      button[disabled] {
        background-color: white;
        color: gray;
        cursor: not-allowed;
        
        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: inherit;
          color: gray;
        }
      }

      .il-c__i-c-input-count {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
      }
      button {
        border: none;

        cursor: pointer;
        background-color: transparent;
      }
    }
  }
  .il-container__item-button {
    padding: 0 3rem;
    border: none;

    background-color: rgb(26, 108, 231);
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;

    transition: background-color 0.5s;

    &:hover {
      background-color: rgb(12, 52, 112);
    }
  }
}