@use "./variables.scss" as v;
@use "./colors.scss" as color;

@mixin flex-center($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border($property: border, $color: color.$slate-400) {
  #{$property}: v.$standard-border $color;
}