@use "../../scss/mixins.scss" as mixin;

.item-list {
  @include mixin.flex-center($justify-content: initial);
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 960px) {
  .item-list {
    padding: 5rem 0;

    display: flex;
    flex-direction: row;
    gap: initial;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}