@use "../../scss/mixins.scss" as mixin;

.item-list {
  @include mixin.flex-center($justify-content: initial);
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .item-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}